Repository MIT-Emerging-Talent/ET6-foundations-group-21, pull requests merged in 2025-01, with the labels that each got.

#23 Atm machine
  .github/ISSUE_TEMPLATE/help_wanted.md
  .github/ISSUE_TEMPLATE/new_challenge.md
  .github/PULL_REQUEST_TEMPLATE.md
  collaboration/guide/0_repository_setup.md
  collaboration/learning_goals.md
  solutions/atm.py
  solutions/tests/atm_test.py
Labels: Solution

#29 Factorial calc
  solutions/factorial_calc.py
  solutions/tests/test_factorial_calc.py
Labels: Solution

#39 Fahrenheit to kelvin
  solutions/fahrenheit_to_kelvin.py
  solutions/tests/test_fahrenheit_to_kelvin.py
Labels: Solution

#37 Update atm_test.py
  solutions/tests/atm_test.py
Labels: enhancement

#32 Odd or even
  solutions/atm.py
  solutions/odd_or_even.py
  solutions/tests/test_odd_or_even.py
Labels: Solution

#58 Word counter
  solutions/tests/test_word_counter.py
  solutions/word_counter.py
Labels: Solution

#55 Distance between two points
  solutions/budget_calc.py
  solutions/distance.py
  solutions/tests/test_budget_calc.py
  solutions/tests/test_distance.py
Labels: Solution

#59 Count vowels
  LICENSE
  solutions/count_vowels.py
  solutions/tests/test_count_vowels.py
Labels: Solution

#53 number_guessing Game
  solutions/number_guessing.py
  solutions/tests/atm_test.py
  solutions/tests/test_number_guessing.py
Labels: Solution

#56 Body mass index
  solutions/calculate_bmi.py
  solutions/tests/test_calculate_bmi.py
Labels: Solution

#63 Body mass index
  solutions/calculate_bmi.py
Labels: Solution

#45 Convert decimal binary
  solutions/Convert_Decimal_To_Binary.py
  solutions/tests/Test_convert_decimal_to_binary.py
Labels: Solution

#62 Learning goals
  collaboration/learning_goals.md
Labels: documentation

#52 Convert int to roman
  solutions/convert_int_to_roman.py
  solutions/merge_two_sorted_lists
  solutions/tests/test_convert_int_to_roman.py
  solutions/tests/test_merge_two_sorted_lists
Labels: Solution

#70 Add solutions and test files for Palindrome number and Remove Duplica…
  solutions/Palindrome_Number.py
  solutions/Remove_Duplicates_from_sorted_Array.py
  solutions/tests/test_Remove_Duplicates_from_sorted_Array.py
  solutions/tests/test_palindrome_number.py
Labels: Solution
